.hero-section {
    height: calc(100vh - 56px);
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://images.unsplash.com/photo-1555421689-491a97ff2040?q=80&w=2070');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-section h1 {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/* PAGINA ARTICOLI */
.card {
    height: 100%;
}

.pagination-custom .page-link {
    border: none;
    margin: 0 5px;
    border-radius: 5px;
}


.pagination-custom .page-link:hover {
    background-color: #eee;
}

/* CARDS */
.custom-card {
    transition: all 0.3s ease-in-out;
}

.custom-card:hover {
    transform: translateY(-10px);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    /* Evita che l'immagine si schiacci */
}

/* article-create-form */
.img-preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
}