.hero-section{
    height: calc(100vh - 56px);
    background-image: radial-gradient(rgba(0,0,0,0.5)), url('https://picsum.photos/2000/1000');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.height-custom{
    min-height: 60vh;
}

.card-w{
    width: 18rem;
}