.pagination-cyber .pagination {
    gap: 10px;
}

.pagination-cyber .page-item .page-link {
    background-color: rgba(11, 14, 20, 0.8);
    border: 1px solid var(--green);
    color: var(--green);
    transition: 0.3s;
}

.pagination-cyber .page-item.active .page-link {
    background-color: var(--green);
    color: var(--dark-obsidian);
    box-shadow: 0 0 15px var(--green);
}

.pagination-cyber .page-item:hover .page-link {
    background-color: rgba(104, 184, 0, 0.2);
    color: white;
}
