body {
    background-color: var(--dark-obsidian) !important;
    color: var(--white);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: var(--font-tech);
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn,
.tech-stat-box,
.nav-link,
.dropdown-menu,
.btn-cyber-large,
.btn-cyber-small {
    color: var(--white);
    font-family: var(--font-main);
}

.text-neon {
    color: var(--green);
    text-shadow: 0 0 7px var(--green);
}